<div>

 
	<h3> Register</h3>
	<form #registerForm="ngForm" (submit)="create_user()">

	<p>Name: <input type="text" name="name" 
		[(ngModel)]="new_user.name" 
		required 
		minlength="1" 
		#name="ngModel"/>

		<span *ngIf="!name.valid">Name is required!!!</span>

    <p>Email: <input type="text" name="email" 
    [(ngModel)]="new_user.email" 
    required 
    minlength="1" 
    #email="ngModel"/>

    <span *ngIf="!email.valid">Email is required!!!</span>

	 <p>Password : <input type="text" name="password" 
      required 
      minlength="8" 
      maxlength="24"
      pattern="^([a-zA-Z0-9@*#]{8,15})$"
      [(ngModel)]="new_user.password"
      #password='ngModel'></p>
      <span *ngIf="!password.valid">Password should be atleast 8 characters long</span>


	<p><input type="submit"  value="Create" [disabled]="!registerForm.valid"></p>
	</form>

</div>



    